<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>
    Welcome !
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.username"></span>
    </div>
</h3>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
<div th:insert="~{/layout::common}" class="divOut"></div>
<a ></a>
<h1>Create Blog</h1>
<form th:object="${blog}" th:method="get" th:action="@{/blog/create/s}">
    <table class="table">
        <tr>
            <td>Author Name</td>
            <td>
                <input type="text" th:field="*{author}"/>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" th:field="*{description}"/>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <select type="text" th:field="*{category}">
                    <option th:each="item: ${categories}" th:value="${item.id}" th:text="${item.name}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Create</button>
            </td>
        </tr>

    </table>
</form>
</body>
</html>